<section id="footer" class="py-5">
        <!-- Start: 1 Row 3 Columns -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xl-3 col-xxl-6"><a href="#"><img src="assets/img/logo-light.png"></a>
                    <div class="social"><a href="#"><img src="assets/img/instagram.png"></a><a href="#"><img src="assets/img/facebook.png"></a></div>
                    <p class="copyright">Todos los derechos reservados © 2021 NUB<a href="#">Diseñado por&nbsp;<strong>Remedia</strong></a></p>
                </div>
                <div class="col-md-3 col-xl-3 col-xxl-2 footer_link_col">
                    <div><a class="p-0 btn footer_heading text-start collapsed text-uppercase" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapse-1" href="#collapse-1" role="button">Catálogo</a>
                        <div class="collapse show" id="collapse-1">
                            <ul class="list-unstyled">
                                <li><a href="#">Sofás</a></li>
                                <li><a href="#">Accesorios</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xl-3 col-xxl-2 footer_link_col">
                    <div><a class="p-0 btn footer_heading text-start collapsed text-uppercase" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapse-2" href="#collapse-2" role="button">Empresa</a>
                        <div class="collapse show" id="collapse-2">
                            <ul class="list-unstyled">
                                <li><a href="#">Colaboradores</a></li>
                                <li><a href="#">Responsabilidad social</a></li>
                                <li><a href="#">Proyectos especiales</a></li>
                                <li><a href="#">+52 22 2196 1353</a></li>
                                <li><a href="#">info@nubmobiliario.mx</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xl-3 col-xxl-2 footer_link_col">
                    <div><a class="p-0 btn footer_heading text-start collapsed text-uppercase" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapse-3" href="#collapse-3" role="button">Legales</a>
                        <div class="collapse show" id="collapse-3">
                            <ul class="list-unstyled">
                                <li><a href="#">Aviso de privacidad</a></li>
                                <li><a href="#">Términos y condiciones</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End: 1 Row 3 Columns -->
    </section>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header.content",
      "info": "t:sections.footer.settings.header.info"
    },
    {
      "type": "header",
      "content": "Instagram"
    },
    {
      "type": "checkbox",
      "id": "social_instagram_visible",
      "label": "t:sections.footer.settings.show-icon"
    },
    {
      "type": "url",
      "id": "social_instagram_link",
      "label": "t:common.link"
    },
    {
      "type": "header",
      "content": "Twitter"
    },
    {
      "type": "checkbox",
      "id": "social_twitter_visible",
      "label": "t:sections.footer.settings.show-icon"
    },
    {
      "type": "url",
      "id": "social_twitter_link",
      "label": "t:common.link"
    },
    {
      "type": "header",
      "content": "Facebook"
    },
    {
      "type": "checkbox",
      "id": "social_facebook_visible",
      "label": "t:sections.footer.settings.show-icon"
    },
    {
      "type": "url",
      "id": "social_facebook_link",
      "label": "t:common.link"
    },
    {
      "type": "header",
      "content": "Youtube"
    },
    {
      "type": "checkbox",
      "id": "social_youtube_visible",
      "label": "t:sections.footer.settings.show-icon"
    },
    {
      "type": "url",
      "id": "social_youtube_link",
      "label": "t:common.link"
    }
  ]
}
{% endschema %}